<div class="container">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Welcome to the wonderland </p>
                                    <!-- Sök bar -->
        <div class="row">

            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <!--<button class="btn btn-default" type="button">Go!</button>-->
                        <button type="button" class="btn btn-default" onclick="location.href='http://www.google.com'">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
                                    <!-- Sök bar -->
    </div>
    <p>TEST TEST TEST</p>
    <p>TEST TEST TEST......</p>
</div>
