

<div class="jumbotron">
    <div class="jumbotron customJumbotron">
        <h1 ng-bind="title" style="padding:20px"></h1>
        <p>Labb 3 Bootstrap</p>
    </div>
    <style type="text/css">
        .customJumbotron {
            background-image: url('../Image/colorful-triangles-background_ret_sml-900x500.jpg');
        }
    </style>
</div>



<!--<div class="cold-md-12">
    <h1 ng-bind="title"style="padding:20px"></h1>
</div>-->
<!-- Bootstrap Carousel -->
<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <!--Img 1-->
                <img src="../Image/Boston_View_uhd.jpg" alt="Boston" />
                <div class="carousel-caption">
                    <h3>Boston</h3>
                    <p>Test Text Boston</p>
                </div>
            </div>

            <div class="item">
                <!--Img 2-->
                <img src="../Image/dubai-buildings-aerial-view-4k-wallpaper.jpg" alt="Dubai" />
                <div class="carousel-caption">
                    <h3>Dubai</h3>
                    <p>Test Text Dubai</p>
                </div>
            </div>

            <div class="item">
                <!--Img 3-->
                <img src="../Image/Surreal Autumn View UHD.jpg" alt="Autumn" />
                <div class="carousel-caption">
                    <h3>Autumn</h3>
                    <p>Test Text Autumn</p>
                </div>
            </div>

            <div class="item">
                <!--Img 4-->
                <img src="../Image/Winter 7.jpg" alt="Winter" />
                <div class="carousel-caption">
                    <h3>Winter</h3>
                    <p>Test Text Winter</p>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>

</div>

<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="row">

            <div class="row"></div>
            <div class="col-md-4">
                <p> Tractatos vituperatoribus cum ut, eos eu nostro integre noluisse, eu nonumy consul vel. Eos ex solet graecis, id pri dicat tollit honestatis, justo tempor cu usu. Cum copiosae democritum efficiendi an, qui no modo nominavi voluptatum. Diceret iudicabit voluptatibus ut quo, te vel dolores prodesset, eu mel hinc scriptorem. Duo ea assum albucius vulputate, mel ex omnis signiferumque.</p>
                <p> Tractatos vituperatoribus cum ut, eos eu nostro integre noluisse, eu nonumy consul vel. Eos ex solet graecis, id pri dicat tollit honestatis, justo tempor cu usu. Cum copiosae democritum efficiendi an, qui no modo nominavi voluptatum. Diceret iudicabit voluptatibus ut quo, te vel dolores prodesset, eu mel hinc scriptorem. Duo ea assum albucius vulputate, mel ex omnis signiferumque.</p>
            </div>
            <div class="col-md-4">
                <p> TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST</p>
                <p> TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST</p>
            </div>
            <div class="col-md-4">
                <p> TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST</p>
                <p> TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST </p>
            </div>
        </div>
    </div>
</div>
<br />

