
<div class="col-md-12">
    <div class="cold-md-12">
        <h1 ng-bind="title"></h1>


        <button type="button"
                class="btn btn-success"
                data-toggle="modal"
                data-target="#newProductModal">
            Add product
        </button>

    </div>

    <div class="col-md-4"
         ng-repeat="product in products track by $index">
        <h1 ng-bind="product.name"></h1>
        <p ng-bind="product.description"></p>

        <button type="button"
                class="btn btn-danger"
                aria-label="Left Aligen"
                ng-click="removeProduct($index)">
            <span class="glyphicon glyphicon-remove"></span>
            Remove
        </button>

    </div>
</div>



<div ng-include="'Views/Partials/NewProductModal.html'"></div>
